.df-gallery {
	display: block;
	//width: 100%;
	overflow: hidden;
	a {
		display: block;
		float: left;
		margin: 4px;
		cursor: zoom-in;
		color: transparent;
		// http://stackoverflow.com/a/3013068
		img {
			border: 0;
			border-image: 0;
		}
	}
}
.df-hidden {display: none;}
.mfp-gallery {
	.mfp-title {
		/** @link https://developer.mozilla.org/en-US/docs/Web/CSS/Adjacent_sibling_selectors */
		.df-title + .df-description {margin-top: 0.5em;}
	}
}

