.df-gallery {
	display: block;
	//width: 100%;
	overflow: hidden;
	a.dfGalleryItem {
		display: block;
		float: left;
		margin: 4px;
		cursor: zoom-in;
	}
	// 2015-09-01
	// Всё равно почему-то не получается синюю рамку убрать :-(
	a.dfGalleryItem
	, a.dfGalleryItem:active
	, a.dfGalleryItem:visited
	, a.dfGalleryItem:hover
	, a.dfGalleryItem:focus {
		color: transparent !important;
		border: 0 !important;
		// http://stackoverflow.com/a/3013068
		img, img:active, img:visited, img:hover, img:focus {
			border: 0 !important;
		}
	}
}
.df-hidden {display: none;}
.mfp-gallery {
	.mfp-title {
		/** @link https://developer.mozilla.org/en-US/docs/Web/CSS/Adjacent_sibling_selectors */
		.df-title + .df-description {margin-top: 0.5em;}
	}
}

